<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLIsDataBasedPreview</key>
			<true/>
			<key>QLSupportedContentTypes</key>
			<array>
				<string>com.gengasw.xbolo.map</string>
			</array>
			<key>QLSupportsSearchableItems</key>
			<false/>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.preview</string>
		<key>NSExtensionPrincipalClass</key>
		<string>PreviewProvider</string>
	</dict>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>XBolo Map</string>
			<key>UTTypeIdentifier</key>
			<string>com.gengasw.xbolo.map</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.lgm.com/bolo/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>BMAP</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>bolomap</string>
					<string>map</string>
					<string>bmap</string>
					<string>bol</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
